/* KTN-STL3 Label Styling */

/*label dimensions 
width top - 19.5mm
width bottom - 15.5mm
left - 15mm
right - 20mm

Each section is 5mm*/

/* Known Color Codes */
.emcYellow {
  background-color: rgba(207, 168, 1) !important; /* 2 TB & 7.2K speed */
  color: black !important;
}

.emcBlack {
  background-color: black !important; /* SATA / SAS */
  color: white !important;
}

/*
.hpOrange {
  background-color: #febe38 !important; /* Fibre Channel */
}
/*
.hpWhite {
  background-color: #ffffff !important; /* SSD */
}
/*
.hp .nonDP {
  background-color: #131313 !important;
  color: #ffffff !important;
}
*/
/*
div.KTN-STL3.LFF div.interface {
  font-size: 14px;
  font-weight: bold;
}
*/

div.KTN-STL3 {
  display: inline-block;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
  margin-left: 4%;
  width: 19.5mm;
  height: 15.5mm;
  background: black;
  -webkit-clip-path: polygon(0% 0%,19.50% 0.00%,15.50% 15.00%,0.00% 15.00%);
  clip-path: polygon(0% 0%,19.50% 0.00%,15.50% 15.00%,0.00% 15.00%);
  font-size: 14px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  vertical-align: center;  
  text-align: left;
}

div.KTN-STL3 .interface {
  color: white;
  font-weight: bold;
}

div.KTN-STL3 .capacity {
  color: black;
}

div.KTN-STL3 .speed {
  color: black;
}

/*
div.KTN-STL3 .divider {
 margin-left: 10%;
 margin-top: 0;
 margin-bottom: 0;
 margin-right: 10%;
 height: 2%;
 background-color: white;
}
*/
