/* emc Label Styling */

/*label dimensions 
width top - 19.5mm
width bottom - 15.5mm
left - 15mm
right - 20mm

Each section is 5mm*/

/* Known Color Codes */
.emcYellow {
  background-color: #E4D00A !important; /* 2 TB & 7.2K speed */
  color: black !important;
}

.emcBlack {
  background-color: black !important; /* SATA / SAS */
  color: white !important;
}

/*
.hpOrange {
  background-color: #febe38 !important; /* Fibre Channel */
}
/*
.hpWhite {
  background-color: #ffffff !important; /* SSD */
}
/*
.hp .nonDP {
  background-color: #131313 !important;
  color: #ffffff !important;
}
*/
/*
div.emc.LFF div.interface {
  font-size: 14px;
  font-weight: bold;
}
*/
div.emc {
  display: inline-block;
    margin-left: 10px

}

div.emc.LFF {
  font-size: 14px !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  vertical-align: center;  
  text-align: left;
  width: 1.95cm;
  height: 1.55m;
  background: black;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);

}

div.emc .interface {
  background-color: black !important; /* SATA / SAS */
  color: white;
  font-weight: bold;
    padding-left: 10px
}

div.emc .capacity {
  background-color: #E4D00A !important; /* 2 TB & 7.2K speed */
  color: black !important;
    padding-left: 10px
}

div.emc .speed {
  background-color: #E4D00A !important; /* 2 TB & 7.2K speed */
  color: black !important;
    padding-left: 10px
}

/*
div.emc .divider {
 margin-left: 10%;
 margin-top: 0;
 margin-bottom: 0;
 margin-right: 10%;
 height: 2%;
 background-color: white;
}
*/