/* emc Label Styling */

/*label dimensions 
width top - 19.5mm
width bottom - 15.5mm
left - 15mm
right - 20mm

Each section is 5mm*/

/* Known Color Codes 
1TB is green
3TB is light green
4TB+ is Olive? */
.emcYellow {
  background-color: #E4D00A !important; /* 2 TB & 7.2K speed */
  color: black !important;
}

.emcBlack {
  background-color: black !important; /* SATA / SAS */
  color: white !important;
}

div.emc {
  display: inline-block;
  margin-left: 10px;
  width: 1.95cm;
  height: 1.55cm;

}

div.emc.LFF {
  font-size: 14px !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: left;
  width: 1.95cm;
  height: 1.55cm;
  background: black;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);

}

div.emc .interface {
  background-color: black !important; /* SATA / SAS */
  color: white;
  font-weight: bold;
  padding-left: 10px;
  height: 33.33%;
  padding-top: 2%;
}

div.emc .capacity {
  background-color: #E4D00A !important; /* 2 TB & 7.2K speed */
  color: black !important;
  padding-left: 10px;
  padding-top: 2%;
  height: 33.33%;
}

div.emc .speed {
  background-color: #E4D00A; /* 2 TB & 7.2K speed */
  color: black;
  padding-left: 10px;
  padding-top: 2%;
  height: 33.33%;
}

div.emc15kspeed {
  background-color: #F0FFFF !important; /* 2 TB & 7.2K speed */
  color: black !important;
  padding-left: 10px;
  padding-top: 2%;
  height: 33.33%;
}

div.emc10kspeed {
  background-color: #DC143C !important; /* 2 TB & 7.2K speed */
  color: #F8F3ED !important;
  padding-left: 10px;
  padding-top: 2%;
  height: 33.33%;
}

div.emc54kspeed {
  background-color: #00A300 !important; /* 2 TB & 7.2K speed */
  color: black !important;
  padding-left: 10px;
  padding-top: 2%;
  height: 33.33%;
}
/* SSD Colours */

div.SSDspeed {
  background-color: #ADD8E6 !important; /* 2 TB & 7.2K speed */
  color: black !important;
  padding-left: 5px;
  padding-top: 15%;
  vertical-align: middle;
  height: 66.66%;
}

/* Speed Colours */

/*
div.emc .divider {
 margin-left: 10%;
 margin-top: 0;
 margin-bottom: 0;
 margin-right: 10%;
 height: 2%;
 background-color: white;
}
*/
