/* KTN-STL3 Label Styling */

/*label dimensions 
width top - 19.5mm
width bottom - 15.5mm
left - 15mm
right - 20mm

Each section is 5mm*/

div.KTN-STL3 {
  display: inline-block;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

div.KTN-STL3.LFF {
  width: 0.9cm;
  height: 1.2cm;
  background: black;
  -webkit-clip-path: polygon(0% 0%,19.50% 0.00%,15.50% 15.00%,0.00% 15.00%);
  clip-path: polygon(0% 0%,19.50% 0.00%,15.50% 15.00%,0.00% 15.00%);
}

div.KTN-STL3 .speed {
  vertical-align: center;
  margin-top: 5%;
  margin-bottom: 0;
  text-align: center;  
  color: white;
  font-family: Arial, ' Helvetica Neue', Helvetica, sans-serif;
}

div.KTN-STL3 .interface {
  vertical-align: center;  
  text-align: center;
  margin-top: 2%;
  margin-bottom: -6%;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

div.KTN-STL3 .capacity {
  vertical-align: center;
  text-align: center;
  margin-top: -6%;
  margin-bottom: 0;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

div.KTN-STL3 .serial {
  margin-left: 6%;
  vertical-align: center;
  margin-top: 3%;
  text-align: left;
  color: white;
  font-family: Arial, ' Helvetica Neue', Helvetica, sans-serif;
}

div.KTN-STL3 .divider {
 margin-left: 10%;
 margin-top: 0;
 margin-bottom: 0;
 margin-right: 10%;
 height: 2%;
 background-color: white;
}

div.KTN-STL3.LFF div.capacity,
div.KTN-STL3.LFF div.speed,
div.KTN-STL3.LFF div.serial {
  font-size: 12px;
  font-weight: bold;
}

div.KTN-STL3.LFF div.interface {
  font-size: 14px;
}
