name: publish
on: [push]
jobs:
  publish-homelablabel-image:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v2
    - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
          with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        - name: Build the hello-docker Docker image
  run: |
          docker build . --tag ghcr.io/minkshaman/homelablabelmaker-EMC:latest
          docker run ghcr.io/minkshaman/homelablabelmaker-EMC:latest
          docker push ghcr.io/minkshaman/homelablabelmaker-EMC:latest
